@model IEnumerable<SAT.MVC.DATA.StudentStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Student Statuses</h2>
<div class="row">
    <div class="col-md-6">
        @*BC@Html.ActionLink("Create New", "Create")*@
        @Html.ActionLink("Add New Status", "Create", null, new { @class = "btn btn-primary" })
        @* adding the btn class is optional, but you should change the text *@
    </div>
    <div class="col-md-6 text-right" style="margin-bottom:2em;">
        @Html.ActionLink("View Tiles", "Tiles", "StudentStatus", null, new { @class = "btn btn-primary" })
    </div>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SSName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.SSID }) |*@
                @if (item.Students.Count == 0)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.SSID })
                }
                else
                {
                    <span class="purple">In Use</span>
                }
            </td>
        </tr>
        }

    </table>
